<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Counter</title>
</head>
    <body>
        <div class="count">
            <p>Site Visits: {{count}}</p>
            <form name="login" action="/login">
                <button  class="buttona" type="submit" value="submit" name="login">Enter @ your own risk!!</button>
            </form>
        </div>
        <div>
            <form class="stripe1">
            </form>
        </div>
        <div>
            <form class="stripe2">
            </form>
        </div>
        <div>
            <form class="stripe3"
            ></form>
        </div>
        <div>
            <form class="stripe4"
            ></form>
        </div>
        <div>
            <form class="stripe5"
            ></form>
        </div>
        <div>
            <form action="/destroy">
                <button type=submit value=submit name="destroy" class="buttonb">Clear Session</button>
            </form>
        </div>
    </body>
</html>